<html lang="en">
<head>
    <title>Pferd sync update</title>
</head>
<body>
    <u>Pferd sync update:</u>
    <br/>
    <div style="border-left: 6px solid #ffc400;background-color: #ffecab;padding: 0.7em">
        New files: <br/>
        <ul>
            {% if new_files %}
                {% for entry in new_files %}
                <li>{{ entry }}</li>
                {% endfor %}
            {% else %}
                <li>None.</li>
            {% endif %}
        </ul>
        Changed files: <br/>
        <ul>
            {% if changed_files %}
                {% for entry in changed_files %}
                <li>{{ entry }}</li>
                {% endfor %}
            {% else %}
                <li>None.</li>
            {% endif %}
        </ul>
        Deleted files: <br/>
        <ul>
            {% if deleted_files %}
                {% for entry in deleted_files %}
                <li>{{ entry }}</li>
                {% endfor %}
            {% else %}
                <li>None.</li>
            {% endif %}
        </ul>
        Not-deleted files: <br/>
        <ul>
            {% if not_deleted_files %}
                {% for entry in not_deleted_files %}
                <li>{{ entry }}</li>
                {% endfor %}
            {% else %}
                <li>None.</li>
            {% endif %}
        </ul>
    </div>
</body>
</html>